#header {
    background-image: url("../images/header_bg.png");
    background-position: center;
    padding: 32px;
}

#menu {
    background-color: white;
    padding: 32px;
    font-size: 16pt;
    font-weight: bold;
    font-family: Quicksand;
}

#intro {
    padding: 64px;
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 25pt;
    color: white;
}

#main {
    font-family: Quicksand;
}

#callout {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 30pt;
    font-weight: bolder;
    color: #405EA6;
}

#ifbmember {
    padding: 16px;
    background-color: #F2F3F6;
    font-weight: bold;
}

h1 {
    color: #405EA6;
}

h2 {
    color: #405EA6;
}

#footer {
    margin-top: 24px;
}